// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
$text-field-outlined-fieldset-border-width:0px !important;
$body-font-family: 'Montserrat';
$tabs-bar-background-color	:#333350!important;
